* {
    margin-top: 0px;
    box-sizing: 0 px;
    padding: 0px;
}
    

    body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    overflow: hidden;
    }

.krug {
    display: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 300px#aa9dce;
    border-radius:0px;
    background: #aa9dce;
    border: 4px solid rgb(255, 255, 255);
    animation: krug 3s infinite ease-in-out alternate-reverse;
    }
    
    @keyframes krug {
    30% {
    box-shadow: 0 0 50px rgb(236, 236, 236);}
    }